[Desktop Entry]
Name=KeePass
Comment=KeePass password manager for the COSMIC panel
Type=Application
Icon=io.github.cosmic-keepass
Exec=cosmic-keepass %F
Terminal=false
StartupNotify=true
Categories=COSMIC;Security;
Keywords=COSMIC;KeePass;Password;
X-CosmicApplet=true
NoDisplay=true
